<!DOCTYPE html>

<html lang="es">
  
<head>
  <title> Cotización del Mercado </title>
  <link rel="stylesheet" href="../CSS/style.css"/>
</head>

<body>
  
  <header>

    <img src="..\Images\DOLAR CONTANDO GIF MAQUINA.gif" alt="Logo" class="logoini">
    
    <div class="opciones">
      <a href="Cotizaciones.html"> Cotizaciones </a> 
      <a class="opcion-activa" href="Historicos.html"> Historial </a> 
    </div>

  </header>

  <div class="periodo">
    <form action="Historicos.html" method="POST">
      <p class="fecha"> Desde: </p>
      <input type="date" />
      <p class="fecha"> Hasta: </p>
      <input type="date" />
      <input type="submit" value="Buscar" class="buscador"/>
    </form>
  </div>

  <div class="valores">    
    <div>  
      <p class="mes"> FECHA DE ULTIMA ACTUALIZACION: 10/10/2024 </p>
      
      <table class="tabla-valores" border="4px">
    
        <tr>
          <th> TIPO DE DOLAR  </th>
          <th> PRECIO COMPRA </th>
          <th> PRECIO VENTA </th>
        </tr>

        <tr>
          <td class="nombre-dolar"> B1 </td>
          <td class="historico-compra"> $ </td>
          <td class="historico-venta"> $ </td>
        </tr>

      </table>
    </div>
  </div>

  <div class="envioinfo">
    <form action="Historicos.html" method="POST">
      <h4> Enviar la información detallada a: </h4>
      <input placeholder="Ingrese su correo" type="text" name="mail" size="25" />
      <input type="submit" value="Enviar" class="buscador" id="enviar"/>
    </form>
  </div>

</body>

<footer>

  <div class="pie">
    <p> Programadores: Brenda Melian - Nahuel Nocilla - Martina Vissani </p>
    <p> Universidad Tecnológica Nacional </p> 
    <p> Tecnicatura Universitaria en Programación - Programación II  </p>
    <p> REF API EXT </p>
  </div>

</footer>

<script src="../.././BACK/Historicos.js"></script>

</html>