<!DOCTYPE html>

<html lang="es">
  
<head>
  <title> Historicos: "El Comandante" </title>
  <link rel="icon" href="..\Images\icono.png" type="image/png">
  <link rel="stylesheet" href="../CSS/style.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
</head>

<body>

  <header>

    <img src="..\Images\DOLAR CONTANDO GIF MAQUINA.gif" alt="Logo" class="logoini">
    
    <div class="opciones">
      <a href="Cotizaciones.html"> Cotizaciones </a> 
      <a class="opcion-activa" href="Historicos.html"> Historial </a> 
    </div>

  </header>

  
      <form class="form-periodo" action="Historicos.html" method="POST" id="form-periodo">
          <div class="dolar">
            <label> Tipo de Dolar: </label> 
                <select class="tipo" id="tipo-dolar">
                  <option value="oficial">Oficial</option>
                  <option value="blue">Blue</option>
                  <option value="bolsa">Bolsa</option>
                  <option value="contadoconliqui">Contado con liqui</option>
                  <option value="cripto">Cripto</option>
                  <option value="mayorista">Mayorista</option>
                  <option value="solidario">Solidario</option>
                  <option value="turista">Turista</option>
              </select>
            </div>
            
            <div class="periodo">
            <p class="fecha">Desde:</p>
            <input type="date" id="fecha-desde" name="fecha_desde" />
            
            <p class="fecha">Hasta:</p>
            <input type="date" id="fecha-hasta" name="fecha_hasta" />
            </div>

            <input type="submit" value="Buscar" class="buscador" onclick="obtenerDatosForm(event)">
      </form>
      
      

      <div class="valores">    
        <div>  
          
          <table class="tabla-valores" id="tabla-valores" border="4px">
        
            <thead>
              <tr>
                <th> FECHA  </th>
                <th> PRECIO COMPRA </th>
                <th> PRECIO VENTA </th>
              </tr>
            </thead>

            <tbody>
              <!-- Aquí se agregarán las filas -->
            </tbody>

            <!--
            <tr class="fila-dolar">
              <td class="fecha"> B1 </td>
              <td class="precio-compra"> $ </td>
              <td class="precio-venta"> $ </td>
            </tr> -->
          
          </table>
        </div>
      </div>

      <div id="grafico" class="grafico">
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
      </div>


  <div class="envioinfo">
    <form class="form-contacto" id="contact-form" action="#" method="POST">
        <h4>Formulario de Contacto</h4>

        <div class="form-group">
            <label for="from_name">Nombre y Apellido</label>
            <input type="text" id="from_name" name="from_name" placeholder="Ingresa tu nombre completo" required>
        </div>

        <div class="form-group">
            <label for="from_email">Email</label>
            <input type="email" id="from_email" name="from_email" placeholder="Ejemplo@dominio.com" required>
        </div>

        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea id="message" name="message" placeholder="Escribe tu mensaje" required></textarea>
        </div>

        <div class="form-group">
            <button type="submit" id="enviar" class="btn-submit">Enviar</button>
        </div>
    </form>
  </div>

<div class="envioinfo">
      <form class="form-contacto" id="contact-form1" action="#" method="POST">
          <h4> Recibir esta informacion </h4>
  
          <div class="form-group">
              <label for="from_email">Email</label>
              <input type="email" id="from_email_1" name="from_email" placeholder="Ejemplo@dominio.com" required>
          </div>
  
          <div class="form-group">
              <input type="submit" value="Enviar" id="enviar" class="btn-submit">
          </div>
      </form>
</div>
 
 
</body>

<footer>

  <div class="pie">
    <p> Programadores: Brenda Melian - Nahuel Nocilla - Martina Vissani </p>
    <p> Universidad Tecnológica Nacional </p> 
    <p> Tecnicatura Universitaria en Programación - Programación II  </p>
    <p> REF API EXT </p>
  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="../.././BACK/Historicos.js"></script>

</html>