
body{
    background-color: rgb(109, 111, 108);
}

div{
    background-color: rgb(226, 238, 188);
}

.container{
 background-color: rgb(63, 85, 69);
 display: flex;
 justify-content: space-around;

}


